@import "../../scss/functions.scss";
@import "../../scss/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  font-family: $poppins-font;

  &__logo {
    display: flex;
    padding-left: toRem(20);
  }

  &__text {
    margin: toRem(0) toRem(20);

    h1 {
      font-size: toRem(45);
      line-height: toRem(55);
      margin-bottom: toRem(0);
    }
    p {
      font-size: toRem(17);
      margin-bottom: toRem(32);
      color: $color-gray;
    }
  }
}
