@import "../../../scss/functions.scss";
@import "../../../scss/variables.scss";

.container {
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    height: toRem(285);
    margin: toRem(90) toRem(0);
    padding: toRem(0) toRem(20);

    background-color: $color-white;
    border-radius: toRem(6);

    &:not(:first-child)::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: -40%;
      bottom: 0;
      left: 50%;
      border-left: toRem(8) solid $color-cyan;
      transform: translate(-50%);
    }

    &__icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      bottom: 82%;
      width: toRem(100);
      height: toRem(100);
      background-color: $color-dark-violet;
      border-radius: 100%;
    }
  }
}
