@import "../scss/functions.scss";
@import "../scss/variables.scss";

.container {
  position: relative;

  &__test {
    position: absolute;
    height: auto;
    width: 100%;
    top: 93%;
    z-index: -1;

    background-color: $color-light-gray;
  }
}
