// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
$poppins-font: "Poppins", "sans-serif";

// Colors
$color-white: #fff;
$color-cyan: #2acfcf;
$color-dark-violet: #3b3054;
$color-red: #f46262;
$color-gray: #bfbfbf;
$color-grayish-violet: #9e9aa7;
$color-very-dark-blue: #35323e;
$color-very-dark-violet: #232127;
