@import "../../../scss/functions.scss";
@import "../../../scss/variables.scss";

.buttonRound {
  width: toRem(200);
  padding: toRem(13) toRem(0);

  font-family: $poppins-font;
  font-size: toRem(20);
  font-weight: 500;
  background-color: $color-cyan;
  color: $color-white;
  border: none;
  border-radius: toRem(50);
}

.buttonSquare {
  padding: toRem(12) toRem(0);

  font-family: $poppins-font;
  font-size: toRem(20);
  font-weight: 500;
  background-color: $color-cyan;
  color: $color-white;
  border: none;
  border-radius: toRem(6);
}

.buttonSmallSquare {
  padding: toRem(6) toRem(0);
  width: toRem(105);

  font-family: $poppins-font;
  font-size: toRem(18);
  font-weight: 500;
  background-color: $color-cyan;
  color: $color-white;
  border: none;
  border-radius: toRem(6);
}
