@import "../../../scss/functions.scss";
@import "../../../scss/variables.scss";

.buttonRound {
  width: toRem(200);
  padding: toRem(13) toRem(0);

  font-family: $poppins-font;
  font-size: toRem(20);
  font-weight: 500;
  background-color: $color-cyan;
  color: $color-white;
  border: none;
  border-radius: toRem(50);

  cursor: pointer;

  &:hover {
    filter: saturate(50%);
  }
}

.buttonSquare {
  padding: toRem(12) toRem(0);

  font-family: $poppins-font;
  font-size: toRem(20);
  font-weight: 500;
  background-color: $color-cyan;
  color: $color-white;
  border: none;
  border-radius: toRem(6);

  &:hover {
    filter: saturate(50%);
  }

  cursor: pointer;
}

.buttonSmallSquare {
  padding: toRem(6) toRem(0);

  font-family: $poppins-font;
  font-size: toRem(16);
  font-weight: 500;
  background-color: $color-cyan;
  color: $color-white;
  border: none;
  border-radius: toRem(8);

  cursor: pointer;

  &:hover {
    filter: saturate(50%);
  }

  @media (min-width: $tablet-view) {
    width: toRem(105);
  }
}

.buttonSmallSquareCopied {
  padding: toRem(6) toRem(0);

  font-family: $poppins-font;
  font-size: toRem(16);
  font-weight: 500;
  background-color: $color-dark-violet;
  color: $color-white;
  border: none;
  border-radius: toRem(8);

  cursor: pointer;

  &:hover {
    filter: saturate(50%);
  }

  @media (min-width: $tablet-view) {
    width: toRem(105);
  }
}
